@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}
/* Estilos para la paginación de Swiper */
.swiper-pagination {
  bottom: 10px; /* Ajusta la posición si es necesario */
  text-align: center;
}

.swiper-pagination-bullet {
  width: 16px; /* Aumento del tamaño del bullet */
  height: 16px; /* Aumento del tamaño del bullet */
  display: inline-block;
  border-radius: 50%;
  background-color: #fff; /* Cambio de color para mayor visibilidad */
  opacity: 0.85; /* Opacidad para que se vea bien sobre imágenes variadas */
}

.swiper-pagination-bullet-active {
  background-color: #000; /* Color más oscuro para el bullet activo */
  opacity: 1;
}



.swiper-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skill-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.imageContainer {
  width: 100%;
  height: auto;
}

.imageContainerPortfolio {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
